<section class="about section-container fade-in">
  <h2 class="section-title">Where I've Worked</h2>

  <div class="experience-container">
    <div class="job-card">
      <div class="job-header">
        <h3 class="job-title">Senior Engineer : Design and Development</h3>
        <span class="date">Sep 2025 - Present</span>
        <br />
        <h3 class="job-title">Engineer : Design and Development</h3>
        <span class="date">Dec 2021 - Aug 2025</span>
        <br />
        <span class="company">@ Siemens Healthineers</span>
      </div>
      <ul class="job-description">
        <li>Delivered high-impact features for flagship medical imaging products acting as major USPs for releases,
          contributing directly to customer workflows.</li>
        <li>Developed and maintained applications using C#, .NET, WPF, WCF, Angular, and Azure DevOps in large-scale
          enterprise environments.</li>
        <li>Well versed with Agile and Safe Methodologies</li>
        <li>Worked extensively on DICOM-based medical imaging workflows with clinical knowledge in PET/SPECT and
          Molecular Imaging.</li>
        <li>Helped the team accelerate GenAI usage by building agents for code review, SITs, and root cause analysis.
        </li>
        <li>Developed an AI-powered VS Code Agent Orchestration Extension capable of dynamically selecting between LLM
          models for optimized performance and cost efficiency.</li>
        <li>Contributed to modernization initiatives involving the migration of legacy WPF applications to Angular-based
          architectures.</li>
        <li>Designed and enhanced unit and integration testing frameworks using NUnit and Moq, improving automation
          coverage.</li>
        <li>Mentored junior engineers and contributed to engineering best practices, code quality initiatives, and
          scalable development processes.</li>
      </ul>
    </div>
  </div>
</section>