.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.project-card {
  background: var(--bg-secondary);
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: var(--transition);
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.project-card:hover .project-title {
  color: var(--accent-color);
}

.project-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.links {
  color: var(--text-secondary);
}

.project-card:hover .links {
  color: var(--accent-color);
}

.project-title {
  color: var(--text-primary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: var(--transition);
}

.project-description {
  color: var(--text-secondary);
  font-size: 1rem;
  margin-bottom: 2rem;
  flex-grow: 1;
}

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--text-secondary);
  font-family: monospace;
  font-size: 0.85rem;
}
