<section class="projects section-container fade-in">
  <h2 class="section-title">Featured Projects</h2>
  
  <div class="projects-grid">
    <a href="https://github.com/kevinknight09/DebugSense.AI" target="_blank" class="project-card">
      <div class="project-content">
        <div class="project-top">
          <div class="folder-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="var(--accent-color)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
          </div>
          <div class="links">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
          </div>
        </div>
        
        <h3 class="project-title">DebugSense.AI</h3>
        
        <div class="project-description">
          <p>An intelligent AI-powered orchestration tool that enhances the developer debugging experience by leveraging context-aware RAG pipelines and advanced LLM models.</p>
        </div>
        
        <ul class="project-tech-list">
          <li>AI/ML</li>
          <li>LLM</li>
          <li>Agentic AI</li>
          <li>RAG</li>
        </ul>
      </div>
    </a>
  </div>
</section>
